@import '~antd/dist/antd.less';

.amap-logo,
.amap-copyright {
  display: none !important;
}

#user-amap-container .amap-info-close {
  display: none !important;
}

#user-amap-container .amap-info-content {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#user-amap-container .amap-info-sharp,
#user-amap-container .amap-info-sharp::after {
  border-top-color: rgba(0, 0, 0, 0.2);
}

.ant-affix {
  z-index: 99;
}

.ant-carousel .slick-dots li {
  height: 3px !important;
}

.logo {
  height: 64px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 5px 1px 5px;
  transform: rotateX(45deg);
  font-family: monospace;
}
.icon {
  font-size: 18px;
  color: #fff !important;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #1890ff !important;
}

.styledHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.content-style {
  margin: 16px;
  background-color: #fff;
  padding: 16px;
  min-height: auto;
}

.courseRow {
  position: relative;
}
.courseRow:after {
  content: '';
  position: absolute;
  bottom: 0;
  background: #f0f0f0;
  width: 100%;
  height: 1px;
}
#contentLayout {
  overflow-x: hidden;
}
.courseDetailCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-bottom: none;
  :last-child {
    border-right: none;
  }
  p {
    margin-bottom: 0;
  }
  b {
    color: #7356f1;
    font-size: 24px;
  }
}
.courseDetailRow {
  width: calc(100% + 48px);
  margin: 0 0 0 -24px !important;
}
.courseStepsRow {
  overflow-x: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.descriptionTextArea {
  .ant-form-item-control-input,
  .ant-form-item-control-input-content,
  text-area {
    height: 100%;
  }
  height: 100%;
}
.uploadArea {
  .ant-upload.ant-upload-select-picture-card {
    width: 100%;
    margin: 0;
  }
  .ant-upload-picture-card-wrapper,
  .ant-form-item-control-input,
  .ant-form-item-control-input div {
    height: 100%;
  }
  .ant-upload-picture-card-wrapper img {
    object-fit: cover !important;
  }
  .ant-upload-list-item-progress,
  .ant-tooltip {
    height: auto !important;
    .ant-tooltip-arrow {
      height: 13px;
    }
  }
  .ant-upload-list-picture-card-container {
    width: 100%;
  }
  .ant-upload-list-item-actions {
    .anticon-delete {
      color: red;
    }
  }
  height: 100%;
}

.editable_form_control {
  display: flex;
  gap: 10px;
}

.overview_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  .anticon {
    font-size: 30px;
    padding: 15%;
    border-radius: 50%;
    color: #999;
    background: #fff;
  }
}

.overview_detail {
  color: #fff;
  h3 {
    color: #fff;
  }
  h2 {
    font-size: xx-large;
    margin-bottom: 0;
    color: #fff;
  }
}
